@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, * {
    scroll-behavior: smooth;
    padding: 0;
    border: 0;
    margin: 0;
}

#dark-mode {
    background: black;
    color: white;
}

#light-mode {
    background: rgb(240, 240, 240);
    color: black;
}

#nav {
    background: rgb(30, 30, 40);
    border-top: 10px transparent solid;
    border-bottom: 10px transparent solid;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1;
    align-items: center;
}

#logo {
    font-family: "Great Vibes", cursive;
    font-weight: bold;
    font-size: 30px;
    border-left: 100px transparent solid;
    text-decoration: none;
}

#links {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-right: 6.41%;
    margin-left: auto;
    z-index: 1;
}

.nav-link {
    margin-right: 20px;
}

a {
    color: inherit;
}

#theme-button {
    margin-right: 4%;
    background: none;
}

.section {
    height: 88vh;
    border-top: 12vh transparent solid;
    border-left: 100px transparent solid;
    font-family: "Monserrat", sans-serif;
    font-weight: 400;
    font-size: 30px;
    border-right: 100px transparent solid;
    line-height: 50px;
    position: relative;
}


.heading {
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(89, 89, 89);

}

#about {
    font-size: 25px;
}

.social-link {
    display: block;
}

#footer {
    font-size: 20px;
    position: absolute;
    bottom: 0;
}
